button {
  width: 50%;
  cursor: pointer;
}

.close {
  color: whitesmoke;
  font-size: 28px;
  transform: rotate(45deg);
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: orangered;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: calc(50% + 160px);
  cursor: pointer;
}
