.App {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

body {
    overflow-y: hidden;
}

.range {
    cursor: w-resize;
}

.basket {
    height: 100vh;
    border: 2px solid whitesmoke;
    background-color: #e8dfd9;
    display: flex;
    flex-direction: column;

}

.basketBody {
    overflow: auto;
    padding: 0 10px;
}

.basket > :nth-of-type(2) {

}

.productRow {
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: right;
    background-color: whitesmoke;
    cursor: pointer;
    transition: .2ms;
}

.productRow:hover {
    transform: scale(105%);
    box-shadow: 0 0 5px 0 greenyellow;
}

.modal {
    width: 400px;
    height: 150px;
    background-color: whitesmoke;
    position: absolute;
    top: 200px;
    left: calc(50% - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.modal button {
    width: 50%;
    cursor: pointer;
}

.modal .close {
    color: whitesmoke;
    font-size: 28px;
    transform: rotate(45deg);
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: orangered;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: calc(50% + 160px);
    cursor: pointer;
}

.modal > div {
    display: flex;
    flex-direction: column;
}

.App > button {
    position: fixed;
    right: calc(50% - 60px);
    bottom: 100px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}